@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap");
body, html {
  color: white;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #212529;
}

.bubbles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  overflow: hidden;
  top: 0;
  left: 0;
}

.bubble {
  position: absolute;
  bottom: -100px;
  width: 40px;
  height: 40px;
  z-index: -1;
  background: #2A2E32;
  opacity: 0.5;
  animation: rise 10s infinite ease-in;
}

.bubble:nth-child(1) {
  width: 40px;
  height: 40px;
  left: 10%;
  animation-duration: 8s;
}

.bubble:nth-child(2) {
  width: 20px;
  height: 20px;
  left: 20%;
  animation-duration: 5s;
  animation-delay: 1s;
}

.bubble:nth-child(3) {
  width: 50px;
  height: 50px;
  left: 35%;
  animation-duration: 7s;
  animation-delay: 2s;
}

.bubble:nth-child(4) {
  width: 80px;
  height: 80px;
  left: 50%;
  animation-duration: 11s;
  animation-delay: 0s;
}

.bubble:nth-child(5) {
  width: 35px;
  height: 35px;
  left: 55%;
  animation-duration: 6s;
  animation-delay: 1s;
}

.bubble:nth-child(6) {
  width: 45px;
  height: 45px;
  left: 65%;
  animation-duration: 8s;
  animation-delay: 3s;
}

.bubble:nth-child(7) {
  width: 90px;
  height: 90px;
  left: 70%;
  animation-duration: 12s;
  animation-delay: 2s;
}

.bubble:nth-child(8) {
  width: 25px;
  height: 25px;
  left: 80%;
  animation-duration: 6s;
  animation-delay: 2s;
}

.bubble:nth-child(9) {
  width: 15px;
  height: 15px;
  left: 70%;
  animation-duration: 5s;
  animation-delay: 1s;
}

.bubble:nth-child(10) {
  width: 90px;
  height: 90px;
  left: 25%;
  animation-duration: 10s;
  animation-delay: 4s;
}

@keyframes rise {
  0% {
    bottom: -100px;
    transform: translateX(0);
  }
  50% {
    transform: translate(100px);
  }
  100% {
    bottom: 1080px;
    transform: translateX(-200px);
  }
}
.hero-title {
  padding: 0 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.hero-title span {
  color: #F9413C;
}
.hero-title .hero-text {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 80px;
  width: min-content;
  margin: 1em auto 5px auto;
}
@media (max-width: 1300px) {
  .hero-title .hero-text {
    margin: auto auto 5px auto;
  }
}
@media (max-width: 600px) {
  .hero-title .hero-text {
    font-size: xx-large;
  }
}
.hero-title .hero-subs {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 30px;
  word-wrap: unset;
  margin: 5px auto 0.5em auto;
}
@media (max-width: 1300px) {
  .hero-title .hero-subs {
    margin: 5px auto 0.5em auto;
  }
}
@media (max-width: 600px) {
  .hero-title .hero-subs {
    font-size: large;
  }
}

.hero-img {
  padding: 0 10px 0;
  display: flex;
  justify-content: center;
}
.hero-img img {
  height: 500px;
  padding: 10px;
}
@media (max-width: 600px) {
  .hero-img img {
    height: auto;
    width: 100%;
  }
}

.row {
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}
.row .col1 {
  flex: 0 0 40%;
  justify-content: end;
}
.row .col1 p {
  font-family: "IBM Plex Sans", sans-serif;
  text-align: center;
}
.row .col2 {
  flex: 0 0 60%;
}

@media (max-width: 1300px) {
  .row {
    flex-direction: column;
    margin-top: 1em;
  }

  .col1 .col2 {
    flex: 0 0 50%;
    justify-content: center;
  }
}
ul {
  display: inline-flex;
  box-sizing: border-box;
  border-radius: 25px;
  border: 2px white solid;
  padding: 0;
  list-style: none;
}
ul li {
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 2px white solid;
}
ul li:hover {
  background-color: #F9413C;
}
ul :last-child {
  border: none;
  border-radius: 0 25px 25px 0;
}
ul :first-child {
  border-radius: 25px 0 0 25px;
}

a {
  color: white;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
